.App {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header header" "sidebar content" "footer footer";
  grid-gap: 2px;
  align-content: stretch;
  background-color: #31353b;
  color: #9da5b4;
}
.App div {
  background-color: #21252b;
}
.Header {
  grid-area: header;
}
.Sidebar {
  grid-area: sidebar;
}
.Sidebar ul {
  list-style-type: none;
  padding-left: 0px;
}
.Sidebar ul > li {
  padding: 5px 0px 5px 5px;
  border-bottom: 1px solid #344;
}
.Sidebar ul > li:first-child {
  border-top: 1px solid #334;
}
.Sidebar ul > li:hover {
  background-color: #233;
  cursor: pointer;
}
.Header h1,
.Sidebar h2,
.Content h2,
.Footer h2 {
  margin: 0;
  padding: 5px 5px 0 5px;
}
.Content {
  grid-area: content;
}
.Footer {
  grid-area: footer;
}
