:root {
  --header-height: 48px;
  --text-color: hsl(240, 5%, 75%);
}
.App {
  display: grid;
  grid-template-columns: [tools-menu] 64px [toolbar] 200px [panes] 1fr;
  grid-template-rows: [header] var(--header-height) [content] 1fr [footer] 1.5rem;
  color: var(--text-color);
  font-weight: bold;
}
.App div {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.header {
  grid-row: header;
  grid-column: panes;
  background-color: #444;
}
.tools-menu {
  grid-column: tools-menu;
  grid-row-start: header;
  grid-row-end: footer;
  background-color: #666;
}
.toolbar {
  grid-column: toolbar;
  grid-row-start: header;
  grid-row-end: footer;
  background-color: #444;
  display: grid;
  grid-template-rows: [toolbar-header] var(--header-height) [toolbar-content] 1fr;
}
.toolbar .title {
  grid-row: toolbar-header;
}
.toolbar .content {
  grid-row: toolbar-content;
}
.panes {
  grid-column: panes;
  background-color: #333;
}
.footer {
  grid-area: footer;
  grid-column-start: tools-menu;
  background-color: hsl(205, 85%, 40%);
  color: hsl(205, 85%, 80%);
  font-size: 1rem;
  font-weight: bold;
}
